<div id="<%= dom_id artist %>">
  <p>
    <strong>Pseudo:</strong>
    <%= artist.pseudo %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag artist.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist.description %>
  </p>

</div>
